<div class="container">
    <h1>Main Feed</h1>

    <% @posts.each do |post| %>
        <div class="well">
            <p><%= post.author %></p>
            <p><%= post.content %></p>
        </div>
    <% end %>
</div>
